@charset "UTF-8";

/*************************
お問い合わせエリア
**************************/
#contact {
  background: #d4dee0;
}

#contact h2,
#contact .ja-title {
  color: #705c53;
}

form {
  margin: 0 auto;
  max-width: 500px;
}

.ct-block {
  margin-bottom: 32px;
}

.contact-text {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #705c53;
}

.form-name,
.form-mail,
.form-event-date,
.cp-howto select {
  border: 1px solid #b1b1b1;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #fff;
}

textarea {
  border: 1px solid #b1b1b1;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
}

.cp-howto {
  position: relative;
  border: 1px solid #b1b1b1;
  background: #fff;
}

/*「▼」をつける部分 */
.cp-howto::before {
  position: absolute;
  top: 14px;
  right: 10px;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 13px solid #705c53;
}

.cp-howto select {
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 40px 10px 10px;
}

/* Internet Explorer用の記述 */
.cp-howto select::-ms-expand {
  display: none;
}

.send-button {
  display: block;
  background-color: #fff;
  font-size: 1.375rem;
  padding: 10px 120px;
  margin: 0 auto;
  color: #705c53;
  transition: .6s;
}

.send-button:hover {
  background-color: #705c53;
  color: #fff;
  transition: .6s;
}